<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product
    Id="*"
    Name="HelloDotNet App"
    Language="1033"
    Version="1.0.0"
    Manufacturer="MyCompany"
    UpgradeCode="efefb412-1b5d-4d2c-82ba-d40bb993058f">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine" />


    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="HelloDotNet">
          <Component Id="MainExe" Guid="*">
            <File Source="..\publish\HelloDotNet.exe"
                  KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Level="1">
      <ComponentRef Id="MainExe" />
    </Feature>

  </Product>

</Wix>